# Virtual environments
venv/
.env/
env/
.venv/

# Python
__pycache__/
*.pyc

# Environment file
.env

# Django
db.sqlite3
media/
staticfiles/

# Frontend build output
frontend/dist/

# IDE
.vscode/
.idea/
